@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
    font-family: "Montserrat";
}

nav.nav-bar-class {
    background-color: #3D5E70;
}

.title-class, h1, h2, h3, h4, h5, span {
    color: #3D5E70;
}

.template-selection-btn {
    background-color: #3D5E70;
}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.animated.faster {
    -webkit-animation-duration: 500ms;
    animation-duration: 500ms;
}

.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

.fadeOut {
    -webkit-animation-name: fadeOut;
    animation-name: fadeOut;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}


.color-button-blue-div:focus-within,
.color-button-orange-div:focus-within,
.color-button-green-div:focus-within,
.color-button-red-div:focus-within {
    background-color: rgba(243, 244, 246, var(--tw-bg-opacity));
}

.color-button-blue-div:hover,
.color-button-orange-div:hover,
.color-button-green-div:hover,
.color-button-red-div:hover {
    background-color: rgba(243, 244, 246, var(--tw-bg-opacity));
}

.color-button-blue-div > #color-button-blue:active,
.color-button-orange-div > #color-button-orange:active,
.color-button-green-div > #color-button-green:active,
.color-button-red-div > #color-button-red:active {
    background-color: rgba(243, 244, 246, var(--tw-bg-opacity));
}


.loader {
	border-top-color: #3498db;
	-webkit-animation: spinner 1.5s linear infinite;
	animation: spinner 1.5s linear infinite;
}

@-webkit-keyframes spinner {
	0% {
		-webkit-transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
	}
}

@keyframes spinner {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
